In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from collections import Counter

In [ ]:
data = pd.read_csv("full_data.csv")
data = data[['code', 'token', 'lstm_surp', 'ngram_surp', 'mean_rt']]
data['diff'] = data['lstm_surp'] - data['ngram_surp']
data.head()

    code   token  lstm_surp  ngram_surp     mean_rt      diff
0  17000      In   5.506053     4.57937  380.275294  0.926683
1  17002  County  12.514248    12.65410  296.042941 -0.139852
2  17004    near  13.308077    12.22380  403.553529  1.084277
3  17005     the   1.662673     1.98095  306.075882 -0.318277
4  17006   River  17.830992    15.70900  289.048235  2.121992

In [ ]:
lower_bound = data['diff'].mean() - 3 * data['diff'].std()
upper_bound = data['diff'].mean() + 3 * data['diff'].std()
ngram_high = data[data['diff'] < lower_bound]
lstm_high = data[data['diff'] > upper_bound]

In [ ]:
surp = pd.read_csv("/content/5gram_surprisals.tsv", delimiter="\t")
surp.head()

   sentence_id  token_id   token  surprisal
0            1         1      In    4.57937
1            1         2   <unk>    7.45049
2            1         3  County   12.65410
3            1         4   <unk>    6.11317
4            1         5    near   12.22380

In [ ]:
merged_lstm_high = pd.merge(lstm_high, surp, left_on=['token', 'ngram_surp'], right_on=['token', 'surprisal']).drop_duplicates()
merged_ngram_high = pd.merge(ngram_high, surp, left_on=['token', 'ngram_surp'], right_on=['token', 'surprisal']).drop_duplicates()

In [ ]:
merged_lstm_high

,code,token,lstm_surp,ngram_surp,mean_rt,diff,sentence_id,token_id,surprisal
0,17112,Today,19.301353,10.21250,355.517647,9.088853,7,1,10.21250
1,17116,may,18.108437,9.87549,291.488235,8.232947,7,5,9.87549
2,17127,corps,15.566020,8.12025,443.555294,7.445770,7,16,8.12025
3,17186,eyes,14.340526,6.21132,346.834706,8.129206,10,7,6.21132
4,17186,eyes,14.340526,6.21132,346.834706,8.129206,36,11,6.21132
...,...,...,...,...,...,...,...,...,...
940,33713,By,15.465153,8.26237,250.293000,7.202783,405,1,8.26237
941,33713,By,15.465153,8.26237,250.293000,7.202783,450,1,8.26237
942,33806,I,16.159555,7.84603,295.226500,8.313525,411,3,7.84603
943,35566,South,10.930376,1.42276,294.574583,9.507616,453,14,1.42276
944,35587,had,18.934946,9.80080,294.281667,9.134146,454,14,9.80080

In [ ]:
merged_ngram_high

,code,token,lstm_surp,ngram_surp,mean_rt,diff,sentence_id,token_id,surprisal
0,26125,feet,6.801941,15.4321,285.367619,-8.630159,193,12,15.4321
1,26456,hundred,9.388918,16.3010,298.812857,-6.912082,214,15,16.3010
2,29500,Guard,10.594954,17.6245,375.209375,-7.029546,301,10,17.6245
3,30790,keep,7.966421,14.9286,282.741875,-6.962179,326,9,14.9286
4,30819,As,7.996505,16.3629,336.030625,-8.366395,327,22,16.3629
5,32061,The,3.103844,13.6888,265.517500,-10.584956,339,32,13.6888
6,32061,The,3.103844,13.6888,265.517500,-10.584956,440,26,13.6888

In [ ]:
def get_sentences(diff, data=surp):
    target_sentences = list(diff.sentence_id)
    sentence_counted = Counter(target_sentences)
    mean_occ = np.mean(list(sentence_counted.values()))
    example_sentences = set([k for k,v in list(sentence_counted.items()) if  v>=mean_occ])
    problematic_words = {i:[] for i in example_sentences}
    sentences = []
    for i in example_sentences:
        problematic_words[i].append(set(list(diff[diff.sentence_id == i].token)))
        sen = list(data[data.sentence_id == i].token)
        sen_str = ' '.join(sen)
        sentences.append(sen_str)
    return sentences, problematic_words

In [ ]:
def print_sentences(sentences, problematic_words):
    words = list(problematic_words.values())
    for i, s in enumerate(sentences):
        print("_______________________________________________________")
        print(f"Surprising Words: {words[i]}")
        print(f"{i+1}) {s}")

In [ ]:
ngram_higher_surp, ngram_words = get_sentences(merged_ngram_high)
lstm_higher_surp, lstm_words = get_sentences(merged_lstm_high)

In [ ]:
len(ngram_higher_surp)

7

In [ ]:
len(lstm_higher_surp)

63

In [ ]:
print_sentences(ngram_higher_surp, ngram_words)

_______________________________________________________
Surprising Words: [{'feet'}]
1) <unk> a tower and a <unk> on the church a million feet <unk> </s>
_______________________________________________________
Surprising Words: [{'keep'}]
2) She is a closed <unk> a picture I keep on my <unk> but never look <unk> </s>
_______________________________________________________
Surprising Words: [{'As'}]
3) If <unk> kept on as <unk> been <unk> the story <unk> told <unk> would probably have been true by <unk> <unk> As <unk> <unk> bright smile greeted me at the breakfast <unk> </s>
_______________________________________________________
Surprising Words: [{'Guard'}]
4) Though the <unk> airports were <unk> the York State Guard <unk> proved unable to keep any kind of mail <unk> </s>
_______________________________________________________
Surprising Words: [{'The'}]
5) <unk> roaring up in great <unk> clouds of smoke and <unk> the fierce heat quickly drove us to the <unk> where we huddled like <unk> <unk> not knowing what to <unk> The <unk> were stuck <unk> </s>
_______________________________________________________
Surprising Words: [{'hundred'}]
6) <unk> have nine hundred and <unk> members in our <unk> <unk> <unk> <unk> three hundred and <unk> <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'The'}]
7) This is the story of his last tragic <unk> as nearly as we are able -- or <unk> <unk> will be able -- to <unk> The sailing in the spring of <unk> was <unk> fourth in four <unk> </s>

In [ ]:
print_sentences(lstm_higher_surp, lstm_words)

_______________________________________________________
Surprising Words: [{'He'}]
1) He knew just the thing for her -- a treatment from his <unk> light ozone <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
2) He tilted his <unk> face toward the dry bed of the <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
3) She <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
4) She held out her hand to show that she had <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
5) She <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
6) He urged her to buy one of his machines -- for <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
7) He then sold her minerals to cure her kidney <unk> a can of <unk> <unk> make her look like a girl <unk> and an application of plain mud to take her <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
8) He had picked out this <unk> <unk> instead of the common <unk> in a moment of romantic <unk> to give them privacy on their <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
9) He then sold her some <unk> that he asserted would take care of the tumors and <unk> until she could collect the money for buying his <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
10) She had hated the whole idea before they <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
11) He had enlisted in the Army straight out of high school and had immediately set about learning his new <unk> </s>
_______________________________________________________
Surprising Words: [{'tracks', 'He'}]
12) He <unk> ahead and <unk> as the railroad tracks came into view again <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
13) He could lead a patrol and he knew his paper <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
14) He <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
15) He not only knew <unk> but <unk> history and literature as <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
16) He was filled with the spirit of the <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
17) He fed the captain bits of history about the troops and the <unk> </s>
_______________________________________________________
Surprising Words: [{'away', 'The', 'shore'}]
18) The most infamous of all was launched by the explosion of the island of <unk> in <unk> it <unk> across the Pacific at 300 miles an <unk> devastated the <unk> of <unk> and <unk> with waves 100 to 130 feet <unk> and <unk> the shore as far away as San <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
19) He had a <unk> frank Irish <unk> <unk> in a <unk> <unk> that stayed <unk> in place even when he was pumping bullets into <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
20) He carried three guns -- one in the right <unk> <unk> one under his left <unk> one in the left outside coat pocket -- and was equally lethal with both <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
21) He killed <unk> <unk> and <unk> </s>
_______________________________________________________
Surprising Words: [{'out', 'The'}]
22) The nearest <unk> end of track from Boston was at <unk> N. H. When Governor Al Smith offered New York National Guard planes to fly the mail in and out of the <unk> it seemed a likely temporary <unk> easing <unk> <unk> and that at <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
23) She <unk> besides her <unk> a crew of <unk> and provisions for a <unk> of exploration of the Arctic waters of North <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
24) He was an expert <unk> <unk> <unk> in the arrangement of <unk> and <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
25) He had no apparent <unk> of <unk> he divided humanity into <unk> <unk> and <unk> <unk> and the wrong ones he was always willing to kill and <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
26) He had what was described by a psychologist as a <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
27) He walked with a heavy list to the <unk> as that leg was four inches shorter than the <unk> but the <unk> did not reduce his <unk> <unk> with his <unk> </s>
_______________________________________________________
Surprising Words: [{'out', 'engines', 'War', 'I'}]
28) They had courage but their meager training consisted of weekend hops in good <unk> in and out of established <unk> and the increasingly cold weather soon raised <unk> with the water cooled engines of their World War I <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
29) He was also at this <unk> although not so <unk> in high politics and the <unk> as <unk> and <unk> the most powerful and most dangerous mob leader in the Chicago <unk> the <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
30) He <unk> at the stranger as the distance between them <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
31) He <unk> at the far <unk> expecting a <unk> to swing across the <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
32) He <unk> <unk> alert now as the <unk> <unk> came <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
33) He <unk> to the window and yanked at the <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
34) He <unk> stop till he was within three feet of Blue <unk> and by that time the gang <unk> right hand was on the butt of his <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
35) He put his head <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
36) He <unk> went to London and spent the winter talking to men of <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
37) He had obtained and <unk> a veteran ship called the Discovery and had recruited a crew of <unk> the largest he had ever <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
38) She is a closed <unk> a picture I keep on my <unk> but never look <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
39) He <unk> and sped <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
40) He crossed <unk> Street to Orange <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
41) He named this <unk> between <unk> Island and <unk> the <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
42) He fired <unk> and somewhere in the gloom a man <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
43) He was <unk> and <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
44) He <unk> to the rail and leaped overboard into the <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
45) She was just another <unk> from the <unk> and she seemed as commonplace as her <unk> </s>
_______________________________________________________
Surprising Words: [{'She', 'John'}]
46) She was the John <unk> one of those Atlantic <unk> that had sailed to <unk> to bring <unk> <unk> and bullets to the U.S. </s>
_______________________________________________________
Surprising Words: [{'He'}]
47) He <unk> from his raw <unk> and felt the pain of movement in his <unk> black burned <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
48) He removed his hat to let the trapped sweat cut <unk> through the dust film upon his <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
49) He <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
50) He moved back to the wheel and stood there <unk> <unk> the top of a spoke to still the <unk> of his <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
51) He cleared his <unk> and wet his <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
52) He then said something which struck a <unk> in my <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
53) He <unk> the <unk> and drew water from a <unk> </s>
_______________________________________________________
Surprising Words: [{'War', 'He'}]
54) He had been speaking of this <unk> <unk> when the islands were under German mandate before World War <unk> Europeans gave <unk> a wide <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
55) He <unk> his mouth with a small <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
56) He took a long but carefully controlled <unk> </s>
_______________________________________________________
Surprising Words: [{'He'}]
57) He replenished the <unk> and handed it to his young wife riding the hurricane <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
58) She took it <unk> her dark eyes <unk> as they met <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
59) She <unk> and pushed back her <unk> <unk> to wet a <unk> and wipe her <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
60) She set the <unk> on the edge of the <unk> leaving it for him to stretch after it while she looked on <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
61) She asked <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
62) She was like <unk> he thought -- <unk> <unk> <unk> </s>
_______________________________________________________
Surprising Words: [{'She'}]
63) She had -- he informed her -- kidney <unk> <unk> <unk> and a severe female <unk> </s>